<%= render 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:settings, scope: :klarna) %>
<% end %>

<%= form_tag(admin_klarna_settings_path, method: :put) do %>
  <fieldset class="no-border-top">
    <% Spree::KlarnaSetting.new.preferences.map {|k,v| k}.each do |x| %>
      <div class="field">
        <label><%= Spree.t(x, scope: :klarna) %></label><br>
        <% size = ( x =~ /uri/ ? 45 : 10 ) %>
        <%= text_field_tag("preferences[#{x}]", Spree::Klarna::Config[x], size: size ) %>
      </div>
    <% end %>


    <div class="form-buttons filter-actions actions" data-hook="buttons">
      <%= button Spree.t('actions.update'), 'icon-refresh' %>
      <span class="or"><%= Spree.t(:or) %></span>
      <%= link_to_with_icon 'icon-remove', Spree.t('actions.cancel'), edit_admin_general_settings_url, class: 'button' %>
    </div>
  </fieldset>
<% end %>
